/*Inicia Pagina Promos*/

.promos-prin{
    background-image: url(../../multimedia/fondoprin.jpg);
}
.ban-promo{
        background-image: $fondo-bg;

    h1{
        padding: 5px;
        text-align: center;
        font-size: $fontzide-titulo-prin;
        color: $color-texto;
        font-family: $font-texto;
    }
    p{
        font-size: $fontsize-parra;
        color: $color-texto;
        font-family: $font-texto;
    }
}
/*Fin Pagina Promos*/