@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;800&family=Edu+TAS+Beginner:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;500;700&display=swap');


    $color-texto: white;
    $font-texto:'Geologica', sans-serif;
    $color-fondo-prin: black;

    $fontzide-titulo-prin:40px;
    $fontzide-titulo-secu:30px;
    $fontzide-titulo-tarj:22px;
    $fontsize-parra:16px;   
    $fondo-bg: linear-gradient(150deg,white,#414441,black);
    $fondo-botones: linear-gradient(150deg,#4b4ba1ef,#09f,#00ddff);

    /* --estilo-titulo-prin: 2px 2px 8px white; */
